#input{
    resize: none;
    border-style: none;
}

form{
    display: inline-block;
}

input{
    display: block;
    margin: 20px auto;
    background-color: transparent;
    border: 2px solid #234465;
    color: #234465;
    height: 40px;
    font-size: 1.5em;
}

p, #input{
    background-color: #234465;
    width: 263px;
    height: 36px;
    line-height: 36px;
    margin: 0;
    font-size: 1.2em;
    color: #FFA000;
}